
*{
    box-sizing: border-box;
}
/* box-sizing is important for make responsive */

.header{
border: blueviolet solid 4px;
margin-bottom: 10px;
padding: 10px;

}

.leftmenu{
border: springgreen solid 4px;
width: 24%;
float: left;
margin-right: 10px;
padding: 5px;

}

.middle{
    border: rgb(133, 223, 223) solid 4px;
    width: 20%;
    float:right;
    
    padding: 10px;
    
    }

.mainmenu{
border: tomato solid 4px;
width: 45%;
display: inline-block;
padding: 10px;
margin-left:10px ;
}

@media (max-width:450px){
    body{
        background: royalblue;
        width: 100%;
        float: none;
    }
}

@media (min-width:451px) and (max-width:768px){
    body{
        background: rgb(65, 225, 105);
        width: 100%;
        float: none;
    }
}

@media (min-width:769px) and (max-width:1024px){
    body{
        background: rgb(225, 65, 204);
        width: 100%;
        float: none;
       
        
    }
}


@media (min-width:1025px){
    body{
        background:aqua
        width: 100%;
        float: none;
        
       
    }
}
